server:
  port: 8087

spring:

  profiles:
    active: local
  jpa:
    hibernate:
      #ddl-auto: update
      ddl-auto: create-drop
    show-sql: true

  kafka:
    consumer:
      auto-offset-reset: earliest
